body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
h1 {
  text-align: center;
}
.button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px 20px;
  border: none;
  color: #ffffff;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  cursor: pointer;
}
.button--blue {
  margin-right: 30px;
  background-color: rgb(55, 55, 245);
}
.button--red{
  background-color: rgb(248, 74, 74);
}
.button--blue:hover {
  box-shadow: 0 0 20px rgba(55, 121, 243, 0.9); /* Параметры тени */
}
.button--red:hover {
  box-shadow: 0 0 20px rgba(245, 72, 72, 0.9); /* Параметры тени */
}